<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-contexto.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/museo/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/imaxe/*</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<res-ref-name>jdbc/postgresDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- Quitar avisos -->
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>dev</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>dev</param-value>
	</context-param>
	<context-param>
		<param-name>spring.liveBeansView.mbeanDomain</param-name>
		<param-value>dev</param-value>
	</context-param>
	
	<!-- Directivas de seguridade -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Privado</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>aplicacion</role-name>
        </auth-constraint>
    </security-constraint>
   
    <!-- Autenticacion basica -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>CaronteRealm</realm-name>
    </login-config>
   
    <security-role>
        <role-name>aplicacion</role-name>
    </security-role>

</web-app>